.bg__img{
    background-image: url(./images/svg/Oval.png);
    width: 640px;
    height: 640px;
    flex-shrink: 0;
}
.back__fon{
    width: 1111px;
    height: 480px;
    flex-shrink: 0;
    background-color: #E7816B;
}